
<div class="card">
    <h5 class="card-header bg-primary text-white mt-0">Reservation</h5>
    <div class="card-body">
        <form>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label for="horizontalInput1" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="horizontalInput1" placeholder="Enter Email">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="horizontalInput2" class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="horizontalInput2" placeholder="Password">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label for="horizontalInput1" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="horizontalInput1" placeholder="Enter Email">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="horizontalInput2" class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="horizontalInput2" placeholder="Password">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10 ml-auto text-right">
                            <button type="submit" class="btn btn-success">Submit</button>
                            <button type="reset" class="btn btn-primary">Reset</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>

        </form>


    </div><!--end card-body-->
</div><!--end card-->


<div class="card">
    <h5 class="card-header bg-primary text-white mt-0">Reservation List</h5>
    <div class="card-body">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Position</th>
                                    <th>Office</th>
                                    <th>Age</th>
                                    <th>Start date</th>
                                    <th>Salary</th>
                                </tr>
                            </thead>
                            <tbody>
                             
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>


 <script src="~/js/Reservation/reservation.js">
</script>
