
<div class="row">
    <div class="col-md-12">
      
        <h4 class="header-title mt-0 mb-3">Order Summary</h4>
        <div class="table-responsive shopping-cart orderSummary">
            <table class="table mb-0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Quantity</th>
                        <th>SubTotal</th>
                        <th>Cancel</th>
                    </tr>
                </thead>
                <tbody id="Mydata">
                </tbody>
            </table>
        </div>
        <div>
            <hr />
            <p style="font-size:14px;margin-left:340px;color:black;" class=""><strong>Total Price:</strong> <span class="" id="TotalAmount"></span></p>
        </div>
    </div>
</div>

<script src="~/js/CustomJs.js"></script>